<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="d-flex justify-content-end align-items-center"
     th:if="${session.loginUser != null}">
    <button th:onclick="removeCommLikes([[${commLikes.get(comm.commId).clikesId}]], [[${comm.commId}]])"
            th:if="${commLikes.get(comm.commId) != null}">
        <i class="fa-solid fa-heart"></i>
    </button>

    <form action="/commLikes/register.do" th:unless="${commLikes.get(comm.commId) != null}" method="post"
          th:name="'commLikesForm'+${comm.commId}" class="commLikesForm">
        <input type="hidden" th:value="${session.loginUser.userId}" name="userId">
        <input type="hidden" th:value="${comm.commId}" name="commId">
        <button type="submit"><i class="fa-regular fa-heart"></i></button>
    </form>
</div>