<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:each="reply:${replyList}">
    <div>
        <div class="d-flex">
            <div class="profile_icon">
                <i class="bi bi-emoji-smile-fille"></i>
            </div>
            <div th:id="'replyContainer'+${reply.replyId}">
                <div>
                    <div>
                        <span>프로필이미지</span>
                        <span class="fw-bold" th:text="${reply.user.userNick}"></span>
                        <span>좋아요버튼</span><span th:text="${replyLikesCnt}"></span>
                    </div>
                    <p th:text="${reply.content}"></p>
                </div>
                <div class="d-flex">
                    <div>
                        <p class="fw-bold" th:text="${#calendars.format(reply.modDate, 'yyyy년 MM월 dd일')}"></p>
                    </div>
                    <div>
                        <a href="javascript:void(0)" th:onclick="loadRegisterForm([[${reply.replyId}]])"
                           class="text-decoration-none fw-bold">답글달기</a>
                    </div>
                </div>
                <div class="d-flex justify-content-end" th:if="${session.loginUser != null && session.loginUser.userId == reply.userId}">
                    <a href="javascript:void(0)"
                       th:onclick="loadReplyModifyForm([[${reply.replyId}]])"
                       class="btn border" style="background-color: #FFFAF5; color: #B68C68;">수정</a>
                    <a href="javascript:void(0)"
                       th:onclick="removeReply([[${reply.replyId}]])"
                       class="btn border" style="background-color: #FFFAF5; color: #B68C68;">삭제</a>
                </div>
            </div>
        </div>

        <div class="ms-5 my-2">
            <div style="background-color:  #FFFAF5">
                <div th:id="${'reReplyRegisterContainer'+reply.replyId}"></div>
                <!-- collection Fetch select 를 하면 레코드가 없어도 무조건 List 객체 생성 -->
                <div th:if="${reply.replyList!=null && reply.replyList.size()>0}"
                     th:with="replyList=${reply.replyList}" class="d-flex">
                    <i class="bi bi-arrow-return-right fw-bold" style="font-size: 20px;  color: #5c636a;"></i>
                    <div class="ms-3" th:include="/comm/reply/list"></div>
                </div>
            </div>
        </div>
    </div>
</th:block>