<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout.html}">
<head>
    <meta charset="UTF-8">
    <title>비밀번호 재설정</title>
</head>
<body>
    <div layout:fragment="content">
        <form action="/user/resetPw.do" method="post" class="container" name="resetPwForm">
            <input type="hidden" name="userId" th:value="${userId}">
            <div>
                <label for="userPw" class="form-label">비밀번호</label>
                <input type="password" id="userPw" name="userPw" class="form-control" required>
            </div>
            <div>
                <label for="userPwCheck" class="form-label">비밀번호 확인</label>
                <input type="password" id="userPwCheck" name="userPwCheck" class="form-control" required>
            </div>
            <div>
                <span id="pwCheckMsg"></span>
            </div>
            <div>
                <input type="submit" class="form-control" value="재설정">
            </div>
        </form>
    </div>
</body>
</html>
<script>
    const resetPwForm = document.forms["resetPwForm"];
    const userPw = resetPwForm["userPw"];
    const userPwCheck = resetPwForm["userPwCheck"];
    resetPwForm.onsubmit = (e) => {
        if (!pwcheck()) {
            e.preventDefault();
            alert("비밀번호가 올바르지 않습니다.");
        }
        if (userName.value === "" || userPhone.value === "") {
            e.preventDefault();
            alert("본인인증을 먼저 진행해 주세요.");
        }
    }

    userPw.addEventListener("change", (e) => {
        pwcheck();
    });
    userPwCheck.addEventListener("change", (e) => {
        pwcheck();
    });

    function pwcheck() {
        const pwCheckMsg = document.getElementById("pwCheckMsg");
        if (userPw.value === "") {
            pwCheckMsg.innerText = "";
        } else if (userPw.value.length < 8) {
            pwCheckMsg.innerText = "비밀번호가 너무 짧습니다.";
            pwCheckMsg.setAttribute("style", "color: #e53b3b;");
        } else if (userPw.value !== userPwCheck.value) {
            pwCheckMsg.innerText = "비밀번호가 일치하지 않습니다.";
            pwCheckMsg.setAttribute("style", "color: #e53b3b;");
        } else {
            pwCheckMsg.innerText = "비밀번호가 일치합니다.";
            pwCheckMsg.setAttribute("style", "color: #0f9105;");
            return true;
        }
        return false;
    }
</script>