<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout.html}">
<head>
    <meta charset="UTF-8">
    <title>메인</title>
</head>
<body>
    <div layout:fragment="content">
        <div class="container">
            <div class="justify-content-center">
                <div class="card border position-relative" th:each="comm:${commList}">
                    <div class="card-header">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="userNick">
                                <span>프로필이미지</span>
                                <span th:text="${comm.user.userNick}"></span>
                            </div>
                            <div class="view">
                                <i class="bi bi-eye"></i>
                                <span th:text="${comm.views}"></span>
                            </div>
                        </div>
                        <hr>
                        <div class="d-flex justify-content-start">
                            <span>제목: </span><span th:text="${comm.title}"></span>
                        </div>
                    </div>
                    <a th:href="@{'/comm/{commId}/detail.do' (commId=${comm.commId})}" style="text-decoration: none;">
                        <div class="card-body">
                            <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-indicators">
                                    <button type="button" data-bs-target="#carouselExampleAutoplaying"
                                            th:data-bs-slide-to="${cnt.index}"
                                            th:classappend="${cnt.index}==0?'active':''"
                                            th:aria-current="${cnt.index}==0?'true':''"
                                            th:aria-label="'Slide '+${cnt.count}" th:each="img, cnt: ${comm.imgList}"></button>
                                </div>

                                <div class="carousel-inner">
                                    <div class="carousel-item" th:classappend="${num.count}==1?'active':''"
                                         th:each="img, num:${comm.imgList}">
                                        <img th:src="@{'/img/comm/{imgPath}'(imgPath=${img.imgPath})}" class="d-block w-100"
                                             alt="..." style="height: 600px;">
                                    </div>
                                </div>
                                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
                                        data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
                                        data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>
                        </div>
                    </a>
                    <div class="card-footer">
                        <div class="d-flex">
                            <div class="" th:id="'commLikesBox' + ${comm.commId}">
                                <th:block th:include="~{/commLikes/commLikes}"></th:block>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<script>
    function init() {
        const commLikesForms = document.querySelectorAll(".commLikesForm");
        commLikesForms.forEach(commLikesForm=> {
            commLikesForm.onsubmit = function(e) {
                registerCommLikes(e, commLikesForm);
            };
        })
    }
    init();

    async function removeCommLikes(clikesId, commId) {
        let url = "/commLikes/remove.do?clikesId="+clikesId;
        const resp = await fetch(url, {method:"DELETE"});
        if (resp.status ===200) {
            const json = await resp.json();
            if (json === 1) {
                await loadCommLikes(commId);
            } else {
                alert("취소 중 오류가 발생하였습니다.");
            }
        } else {
            alert(`200 아닌 오류 발생 (${resp.status})`) ;
        }
    }
    async function registerCommLikes(e, commLikesForm) {
        e.preventDefault();
        let url = "/commLikes/register.do";
        const formData = new FormData(commLikesForm);
        const resp = await fetch(url, {method:"POST",body: formData});
        const json = await resp.json();
        console.log(json);
        if (json === 1) {
            await loadCommLikes(commLikesForm["commId"].value);
        }
    }

    async function loadCommLikes(commId) {
        const url = "/commLikes/show.do?commId=" + commId;
        const resp = await fetch(url);
        const html = await resp.text();
        document.getElementById("commLikesBox"+commId).innerHTML = html;
        init();
    }
</script>