<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.project.projectcomm.mapper.CommLikesMapper">
    <resultMap id="commLikesMap" type="CommLikesDto" autoMapping="true">
        <id property="clikesId" column="clikes_id"/>
        <result property="userId" column="user_id"/>
        <result property="commId" column="comm_id"/>
        <result property="likes" column="likes"/>
    </resultMap>

    <insert id="insertOne" useGeneratedKeys="true" keyProperty="clikesId">
        INSERT INTO comm_likes (user_id, comm_id, likes)
        VALUES (#{userId}, #{commId}, #{likes})
    </insert>
    <update id="update">
        UPDATE comm_likes SET likes=#{likes} WHERE clikes_id=#{clikesId}
    </update>

    <delete id="deleteByClikesId">
        DELETE FROM comm_likes WHERE clikes_id=#{id}
    </delete>

    <select id="selectByCommIdAndUserId" resultMap="commLikesMap">
        SELECT * FROM comm_likes WHERE comm_id=#{commId} AND user_id=#{userId}
    </select>

    <select id="listByUserId" resultMap="commLikesMap">
        SELECT * FROM comm_likes WHERE user_id=#{id}
    </select>
    <select id="countByCommIdAndLikesIsTrue" resultType="java.lang.Integer">
        SELECT count(*) FROM comm_likes WHERE comm_id=#{commId} AND likes=true;
    </select>

    <select id="countByCommIdAndLikesIsFalse" resultType="java.lang.Integer">
        SELECT count(*) FROM comm_likes WHERE comm_id=#{commId} AND likes=false;
    </select>

</mapper>