<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.project.projectcomm.mapper.ReplyLikesMapper">
    <resultMap id="replyLikesMap" type="ReplyLikesDto" autoMapping="true">
        <id property="rlikesId" column="rlikes_id"/>
        <result property="userId" column="user_id"/>
        <result property="replyId" column="reply_id"/>
        <result property="regDate" column="reg_date"/>
        <association property="reply"
                     column="reply_id"
                     select="com.project.projectcomm.mapper.ReplyMapper.selectByReplyId"
                     fetchType="lazy"
                     autoMapping="true"/>
    </resultMap>

    <insert id="insertOne" parameterType="ReplyLikesDto" useGeneratedKeys="true" keyProperty="rlikesId">
        INSERT INTO reply_likes (user_id, reply_id)
        VALUES (#{userId}, #{replyId})
    </insert>

    <delete id="deleteByRlikesId">
        DELETE FROM reply_likes WHERE rlikes_id=#{id}
    </delete>

    <delete id="deleteByUserId">
        DELETE FROM reply_likes WHERE user_id=#{id}
    </delete>

    <select id="countByReplyId" resultType="int">
        SELECT count(*) FROM reply_likes WHERE reply_id=#{id}
    </select>

    <select id="selectByUserIdAndReplyId" resultMap="replyLikesMap">
        SELECT * FROM reply_likes WHERE user_id=#{userId} AND reply_id=#{replyId}
    </select>

    <select id="listByUserId" resultMap="replyLikesMap">
        SELECT * FROM reply_likes WHERE user_id=#{id}
    </select>
</mapper>