<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.project.projectcomm.mapper.UserImgMapper">
    <resultMap id="userImgMap" type="UserImgDto" autoMapping="true">
        <id property="userImgId" column="user_img_id"/>
        <result property="imgPath" column="img_path"/>
    </resultMap>

    <insert id="insertOne">
        INSERT INTO user_img (user_img_id, img_path)
        VALUES (#{userImgId}, #{imgPath})
    </insert>

    <update id="updateByUserImgId">
        UPDATE user_img SET img_path=#{imgPath}
                        WHERE user_img_id=#{id}
    </update>

    <delete id="deleteByUserImgId">
        DELETE FROM user_img WHERE user_img_id=#{id}
    </delete>

    <select id="selectByUserImgId" resultMap="userImgMap">
        SELECT * FROM user_img WHERE user_img_id=#{id}
    </select>
</mapper>